:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background: linear-gradient(45deg,#050404,#212121,#030303);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.board {
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

#x, #o{
  position: absolute;
  font-size: 2.8rem;
}


#x {
  top:0;
  left: 0;
  animation: spin 10s linear infinite;
}

#o {
  bottom: 0;
  right: 0;
  animation: scale 2s alternate infinite;
}

.play-again-X,
.play-again-O {
  font-size: 2rem;
  opacity: .5;
}

.play-again-X.true,
.play-again-O.true {
  text-shadow: 0 0 10px #08ceec;
  font-size: 2.5rem;
  opacity: 1;
  transition: .5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  border: 1px solid #f5f4f40a ;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #0f0d0d; 
}

.footer-menu{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-menu div{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.f-item{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgb(70, 67, 67);
  border-radius: 50%;
  box-shadow: 0px 0px 10px #ddd1d1;
}

.option{
  list-style: none;
}

.link{
  text-decoration: none;
}

.board h1 {
  color: #eee;
  margin-bottom: 16px;
}

.board button,
button,
.link {
  padding: 8px 12px;
  margin: 25px;
  background: transparent;
  border: 2px solid #eee;
  color: #eee;
  width: 100px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
}

.board button:hover,
button:hover,
.link:hover {
  background: #eee;
  color: #222;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turn {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: fit-content;
  position: relative;
  border-radius: 10px;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: #fff;
  background: #09f;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.432);
  backdrop-filter: blur(2px);
}

.winner .text {
  background: #111;
  padding: 10px;
  height: auto;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #eee;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}

form {
  padding-top: 20px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

input {
  margin-top: 20px;
  height: 25px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #6e6c6c;
  border-radius: 5px;
}

.icons{
  margin: 10px 0;
  display: flex;
  width: 100%;
  gap: 90px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span{
  color: rgb(242, 44, 44);
  text-shadow:0px 1px 5px rgba(254, 20, 20, 0.461);
  padding: 20px 0;
  display: flex;
}

